

<span id="M_Bottom" class="foot_bg">
    <div id="footer_bg">
        <div id="footer">
            <div class="lmf_cot">
                <a id=lia0 href='http://www.shopnum1.com' style='' target='_blank'>联系我们</a>|<a id=lia1 href='http://city.nrqiang.com/ArticleListSearch.html' style='' target='_blank'>资讯</a>|<a id=lia2 href='http://city.nrqiang.com/ShopListSearch.html' style='' target='_blank'>店铺</a>|<a id=lia3 href='http://city.nrqiang.com/SupplyDemandShow.html' style='' target='_blank'>供求</a>|<a id=lia4 href='http://city.nrqiang.com/PanicBuyList.html' style='' target='_blank'>抢购</a>|<a id=lia5 href='http://city.nrqiang.com/SpellBuyList.html' style='' target='_blank'>团购</a>
            </div>
            <div class="lmf_cop">
                <span id="M_Bottom_ctl00_LabelShopCopy">ShopNum1城市多用户商城系统店铺后台</span>
            </div>
        </div>
    </div>
</span>